<body>

<h1>Eat-Da-Burger!</h1>

<h2>Choose a burger to save for later or devour now! You can also add any burger of your choice to the list!</h2>

<img src="../assets/images/vegburg.jpeg" alt="vegburg">

<h2>Burgers to Save</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers to Devour</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger type:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Save for Later or Devour?</label><br>
    <input type="radio" name="type" value="1" checked> Burgers to Devour!<br>
    <input type="radio" name="type" value="0"> Burgers to Save!
    <br>
    <button type="submit" id="submit-button">Add Burger</button>
  </div>

</form>

</body>